
#countries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.country{
    background-color: violet;
    border: 2px solid tomato;
    padding: 20px;
    border-radius: 15px;
}